# reCAPTCHA — https://www.google.com/recaptcha/admin
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=

# Resend — https://resend.com
RESEND_API_KEY=
RESEND_FROM_EMAIL=Dev AS <noreply@yourdomain.com>
RESEND_TO_EMAIL=you@yourdomain.com
